<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
    <img th:src="@{images/icons/1024px-Search_Icon.svg.png}" style="width: 50px">
</div>
<div class="content">
    <nav>
        <ul>
            <li><a th:href="@{home}">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </nav>

</div>
</body>
</html>