<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <div style="width:400px; height: 500px">
        <h1>Welcome to about page</h1>
    </div>
</section>
<section layout:fragment="footer">
    <div style="width:400px; height: 500px">
        <h1>Welcome to footer page</h1>
    </div>
</section>
</body>
</html>